<div class="animated fadeInDown container">
    <h2>Mis Quejas asignadas</h2>
    <div *ngIf="claims1?.length == 0" class="alert alert-info" style="width: 40%;">
         No hay quejas en el sistema
     </div>
     <div class="row"  style="margin-top: 2%;">
        <button class="btn btn-outline-dark" style="margin-right: 3%;margin-bottom: 2%;" *ngFor="let state1 of status" (click)='SearchStatus(state1)' [disabled]="igual(state1)">{{state1}}</button>
        <button class="btn btn-outline-info" style="margin-left: 3%;margin-bottom: 2%;" (click)='cleanFilter()'>Borrar filtros</button>
    </div>

    <br>
    <div *ngIf="claims?.length == 0 &&  pass===true" class="alert alert-info" style="width: 40%;">
        No hay quejas con ese filtro
    </div>
    <table class="table table-striped" *ngIf="claims?.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Factura</th>
                <th scope="col">Estado</th> 
                <th></th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of claims">
                <td>{{claim.id}}</td>
                <td>{{claim.createDate}}</td>
                <td>{{claim.facture.client.username}}</td>
                <td>{{claim.facture.id}}</td>
                <td>{{claim.status}}</td>
                <td>
                    <button mat-mini-fab matTooltip="Resolver" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/showClaim', claim.id]" *ngIf="claim.status === 'Pendiente de respuesta' || claim.status === 'EN PROCESO'"   class="btn btn-sm"><mat-icon> rate_review</mat-icon></button>
                </td>
                
                
                

            </tr>
        </tbody>
    </table>

    <app-paginator-claims-reporter-me *ngIf="paginador"  [paginador] ="paginador"></app-paginator-claims-reporter-me>
</div>
