<div class="container">
<div> 
    <div class="row" style="margin-top:10px;align-items: center;">  
      <div class="col-sm-2">  
        <button class="btn btn-secondary disabled" [routerLink]="['/statistics']">Productos por Compañías</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-outline-secondary" [routerLink]="['/statistics1']">Productos por clientes</button>  
      </div>  
      <div class="col-sm-2">  
        <button class="btn btn-outline-secondary" [routerLink]="['/statistics2']">Productos vendidos</button>  
      </div>  
         
    </div>  
</div>  


<h3 style="margin-top: 5%;">Número de productos por tienda</h3>
<canvas id="graphic1" style=" height:40vh; width:70vw;"></canvas>
</div>