@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.card {
 
  width: 30%;
  position: relative;
  left: 37%;
  margin-top: 80px;
  margin-bottom: 10%;
  
  border-color:transparent !important;
  
} 

.alert{
  width: 200%;
  color: red;
  font-size: small;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  bottom: -20%;
  margin-top: -15%;
}

label {
  display: inline-block;
  width: 23%;
  font-family: "Muli", sans-serif;
  font-size: medium;
}

input {
  width: 200%;
  border-radius: 0px;
  border-color: grey;
}

.card-header {
  font-family: "Muli", sans-serif;
  font-size: 200%;
  text-align: left;
  background-color: transparent !important;
}

.btn {
  color: #fff;
  background: #000;
  vertical-align: center;
  text-align: center;
  display: inline-block;
  align-content: initial;
  
}

.col-lg-6{
  left: 40%;
  
}

input:valid{
  border-color: green;
}

input:optional{
  border-color: grey;
}

input:focus:invalid{
  border-color: red;
}
.checkbox{
  width: 10%;
}
.terms{
  width: 70%;
}

@media screen and (max-width:414px){
  .card{
    left: 0%;
    right: 0%;
    width: 100%;
    
  }
  input {
    width: 100%;
  }
  .alert {
    width: 100%;
  }
  .card-header {
    width: 100%;
  }
  label {
    width: 40%;
  }
}

@media screen and (max-width:360px){
  
    .card{
      left:0%;
      right: 0%;
      width: 100%;
    }
    input {
      width: 100%;
    }
    .alert {
      width: 100%;
    }
    .card-header {
      width: 100%;
    }
    label {
      width: 40%;
    }
}

