@import url("https://fonts.googleapis.com/css?family=Cinzel|Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");
.navbar-brand {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(29, 29, 31);
}



