<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" *ngIf="configuration" >{{configuration.nameSystem}}<sup>tm</sup></a>&nbsp;&nbsp;
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <button mat-icon-button  matTooltip="Inicio" style="background-color: transparent;color: black;margin-right: 2%;" type="button" name="details" [routerLink]="['/home/page/0']"  class="btn btn-sm"><mat-icon>home</mat-icon></button>
      </li>
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
        <button mat-icon-button  matTooltip="Configuración" style="background-color: transparent;color: black;margin-right: 2%;" type="button" name="details" [routerLink]="['/configuration']"  class="btn btn-sm"><mat-icon>settings</mat-icon></button>
       
      </li>
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
        <button mat-icon-button  matTooltip="Métodos de envíos" style="background-color: transparent;color: black;margin-right: 2%;" type="button" name="details" [routerLink]="['/shippings']"  class="btn btn-sm"><mat-icon>local_shipping</mat-icon></button>

      </li>
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
        <button mat-icon-button  matTooltip="Estadísticas" style="background-color: transparent;color: black;margin-right: 2%;" type="button" name="details" [routerLink]="['/statistics']"  class="btn btn-sm"><mat-icon>equalizer</mat-icon></button>

      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <mat-icon>supervised_user_circle</mat-icon>
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/listUsers">Listado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/registerReporter">Registro intermediarios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/registerCompany">Registro compañías</a>
        </div>
      </li>
     

    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_CLIENT')">
        <button mat-icon-button  matTooltip="Productos deseados" style="background-color: transparent;color: black;margin-right: 2%;" type="button" name="details" [routerLink]="['/wishList']"  class="btn btn-sm"><mat-icon>favorite</mat-icon></button>
       
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="authService.hasRole('ROLE_CLIENT')">
        <button mat-icon-button  matTooltip="Ver cesta" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/myBasket']"  class="btn btn-sm"><mat-icon>shopping_cart</mat-icon></button> 
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <img style="text-align: left;" alt="logo_user" src="assets\img\iconfinder_user_male4_172628.png" height="25" width="25"><a class="dropdown-toggle text-dark" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="edit" *ngIf="authService.hasRole('ROLE_CLIENT')">Editar perfil</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_CLIENT')"></div>
          <a class="dropdown-item" href="editCompany" *ngIf="authService.hasRole('ROLE_COMPANY')">Editar compañía</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_COMPANY')"></div>
          <a class="dropdown-item" href="editReporter" *ngIf="authService.hasRole('ROLE_REPORTER')">Editar perfil</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_REPORTER')"></div>
          <a class="dropdown-item" href="myOrders/page/0" *ngIf="authService.hasRole('ROLE_CLIENT')"> Mis compras</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_CLIENT')"></div>
          <a class="dropdown-item" href="myClaim/page/0" *ngIf="authService.hasRole('ROLE_CLIENT')"> Mis Reclamaciones</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_CLIENT')"></div>
          <a class="dropdown-item" href="myConversations/page/0" *ngIf="authService.hasRole('ROLE_CLIENT')"> Mis Conversaciones</a>
          <div class="dropdown-divider" *ngIf="authService.hasRole('ROLE_CLIENT')"></div>
          <button (click)="logout()" class="dropdown-item text-danger" type="submit">Cerrar sesión</button>
        </div>
      </li>
    </ul>

  </div>

</nav>


  <div class="container" *ngIf="configuration?.banner">
    <div class="row align-items-center">
      <img src="{{configuration.banner}}" alt="banner" width="100%" height="250px" style="margin-top: 40px;">
    </div>
  </div>
