<div class=" animated fadeInDown container" >
        <h2>Crear queja</h2>
        <hr>
        <form #claimForm="ngForm">

            <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Título</mat-label>
                <input matInput class="form-control" [(ngModel)]="claim.title" name="title" required #title="ngModel" >
                <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                    Este campo es obligatorio
                  </mat-error>
                  
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <mat-label>Descripción</mat-label>
                <textarea matInput class="form-control" [(ngModel)]="claim.description" name="description" required #description="ngModel" ></textarea>
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required">
                    Este campo es obligatorio
                  </mat-error>
              </mat-form-field>

            

            <div >
                    <button mat-raised-button style="float: right;" (click)="create()" *ngIf="!claim.id" [disabled]="!claimForm.form.valid" >Añadir queja</button>
  
            </div>

        </form>
</div>

