<div class="animated fadeInDown container">
    <h2>Quejas Showcase</h2>
    <div *ngIf="claims?.length == 0" class="alert alert-info" style="width: 40%;">
         No hay quejas en el sistema
     </div>
    <table class="table table-striped" *ngIf="claims?.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Titulo</th>
                <th scope="col">Factura</th>
                <th scope="col">Estado</th> 
                <th scope="col"></th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of claims">
                <td>{{claim.id}}</td>
                <td>{{claim.createDate}}</td>
                <td>{{claim.title}}</td>
                <td>{{claim.facture.id}}</td>
                <td>{{claim.status}}</td>
                <td>
                    <button mat-mini-fab  matTooltip="Ver detalle" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/showClaim', claim.id]"  class="btn btn-sm"><mat-icon>info</mat-icon></button>
                   
                </td>
                <td>

                    <button mat-mini-fab  matTooltip="Eliminar" style="background-color: #F13107" class="button1" (click)="delete(claim)"><mat-icon>delete</mat-icon></button>
                </td>

            </tr>
        </tbody>
    </table>

    <app-paginator-claims-client  *ngIf="paginador"  [paginador] ="paginador"></app-paginator-claims-client>
</div>

