<div class=" animated fadeInDown container" >
    <h2>Detalles de la queja</h2>
    <span><a mat-button   [routerLink]="['/detailsFacture', claim.facture.id]" target="_blank">Factura {{claim.facture.id}}</a></span>
    
    <br>
    <br>
            
    <form #claimForm="ngForm">
        <h2 *ngIf="claim?.answer &&  this.authService.hasRole('ROLE_CLIENT')">Resolución
            
        </h2>
        <hr *ngIf="claim?.answer">
        <br>
        <div *ngIf="claim?.answer &&  this.authService.hasRole('ROLE_CLIENT')">
            
            <h4>Estado: {{claim.status}}</h4>
            <br>
        </div>
        
        <mat-form-field style="width: 100%;" appearance="legacy" *ngIf="claim?.answer &&  this.authService.hasRole('ROLE_CLIENT')">
            <mat-label>Respuesta recibida</mat-label>
            <input matInput class="form-control" [(ngModel)]="claim.answer" name="answer" style="color: black" disabled >
              
        </mat-form-field>

        <div class="form-group " *ngIf="this.authService.hasRole('ROLE_REPORTER') && claim.reporter !=null && (claim.reporter.username === this.authService.usuario.username)">
            <label for="status" class="col-form-label">Estado:</label>
            <select value="{{claim.status}"  name="status" class="form-control"  [(ngModel)]="claim.status">
                <option  *ngFor="let statu of status" >
                    {{statu}}
                </option>
            </select>
            </div>

        <mat-form-field style="width: 100%;" appearance="legacy" *ngIf="this.authService.hasRole('ROLE_REPORTER') && claim.reporter !=null && (claim.reporter.username === this.authService.usuario.username)">
            <mat-label>Escribir respuesta</mat-label>
            <textarea matInput class="form-control" [(ngModel)]="claim.answer" name="answer" required #answer="ngModel" ></textarea>
            <mat-error *ngIf="answer.invalid && (answer.dirty || answer.touched) && answer.errors.required">
                Este campo es obligatorio
              </mat-error>
              
        </mat-form-field>
        <hr *ngIf="claim?.answer">
        <mat-form-field style="width: 100%;" appearance="legacy">
            <mat-label>Título</mat-label>
            <input matInput class="form-control" [(ngModel)]="claim.title" name="title" required #title="ngModel" style="color: black" disabled >
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                Este campo es obligatorio
              </mat-error>
              
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <mat-label>Descripción</mat-label>
            <textarea matInput class="form-control" [(ngModel)]="claim.description" name="description" required #description="ngModel" style="color: black" disabled></textarea>
            <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required">
                Este campo es obligatorio
              </mat-error>
          </mat-form-field>

        

        <div *ngIf="this.authService.hasRole('ROLE_REPORTER') && claim.reporter !=null && (claim.reporter.username === this.authService.usuario.username)">
                <button mat-raised-button style="float: right;" (click)="update()"  [disabled]="!claimForm.form.valid" >Resolver queja</button>

        </div>

    </form>
</div>


