<div class="animated fadeInDown container">
    <h2>Facturas Showcase</h2>
    <div *ngIf="factures1?.length == 0" class="alert alert-info" style="width: 40%;">
         No hay facturas en el sistema
     </div>
     <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>
                    <mat-icon>filter_alt</mat-icon>FILTROS
                </h4>
            </mat-panel-title>

        </mat-expansion-panel-header>
        &nbsp;
        <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [(ngModel)]="date" type="date" (change)="search()">

        </mat-form-field>
        <button mat-mini-fab matTooltip="Eliminar" color="grey" (click)="removeDate()" (click)="search()">
            <mat-icon>remove_circle</mat-icon>
        </button>
        &nbsp;
        <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [(ngModel)]="date1" type="date" (change)="search()">

        </mat-form-field>
        <button mat-mini-fab matTooltip="Eliminar" color="grey" (click)="removeDate1()" (click)="search()">
            <mat-icon>remove_circle</mat-icon>
        </button>
        &nbsp;
        <mat-form-field>
            <mat-label>Compañías</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionada1" (selectionChange)="search()">
                <mat-option [value]="company1">Ninguno</mat-option>
                <mat-option *ngFor="let company of loadCompanies()" [value]="company">{{company.toLocaleUpperCase()}}</mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionada2" (selectionChange)="search()">
                <mat-option [value]="company1">Ninguno</mat-option>
                <mat-option *ngFor="let statu of status" [value]="statu">{{statu.toLocaleUpperCase()}}</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-expansion-panel>

    <br>
    <div *ngIf="factures?.length == 0" class="alert alert-info" style="width: 40%;">
        No hay facturas que cumplan los criterios
    </div>
    <div class="table-responsive">
    <table class="table table-striped" *ngIf="factures?.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Company</th>
                <th scope="col">Estado</th>
                <th scope="col">Nº productos</th> 
                <th scope="col">Importe</th>
                <th>Detalles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let facture of factures">
                <td>{{facture.id}}</td>
                <td>{{facture.createDate}}</td>
                <td>{{facture.company.businessName}}</td>
                <td>{{facture.status}}</td>
                <td>{{count(facture)}}</td>
                <td>{{caculateTotal(facture).toFixed(2)}}€</td>
                <td>
                    <button mat-mini-fab matTooltip="Ver detalle" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/detailsFacture', facture.id]"  class="btn btn-sm"><mat-icon>info</mat-icon></button>
                </td>
                <td>
                    <button mat-mini-fab matTooltip="Pagar factura" style="background-color: transparent;color: black;" type="button" name="details" (click)='payCompany(facture)'  class="btn btn-sm" *ngIf="facture.status === 'PENDIENTE DE PAGO'"><mat-icon>monetization_on</mat-icon></button>
                    
                </td>
                

            </tr>
        </tbody>
    </table>
</div>
    <app-paginator-factures-company-reporter *ngIf="paginador"  [paginador] ="paginador"></app-paginator-factures-company-reporter>
</div>



