
<div class="container">
    <div *ngIf="shippings?.length == 0" class="alert alert-info" style="width: 40%;">
       Lo sentimos, no hay métodos de envío 
    </div>
    <h1 *ngIf="shippings?.length > 0">Métodos de envío</h1>
    <br>
    <button type="button" style="color: white;background-color: #ff6800;" name="create" class="btn btn-sm" [routerLink]="['/createShipping']" >Crear un nuevo método</button>
    <br>
    <br>
    <mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="loading===true"></mat-spinner>
    <div class="row" *ngIf="shippings?.length > 0" >
        <div class="col-lg" *ngFor="let shipping of shippings" >
            <div class="animated zoomIn card" *ngIf="loading===false">
                
                <img src="assets\img\iconfinder_box_1540166.png" class="card-img"> 
                <div class="card-body">
                    <h3 class="title" [routerLink]="['/updateShipping', shipping.id]" style="color: white;">{{shipping.title.toUpperCase()}}</h3>
                    <h4 class="price" style="text-align: right;color: darkred;">{{shipping.price}}€</h4>
                    <button type="button" name="eliminar" (click)="delete(shipping)" class="btn1 btn-sm" style="color: darkred;background-color: white;font-weight: 600;">Eliminar</button>
                </div>
                
            </div>
        </div>
    </div>
    <br>
</div>
