<div class="animated fadeInDown container">
    <h2>Quejas Showcase</h2>
    <div *ngIf="claims1?.length == 0" class="alert alert-info" style="width: 40%;">
         No hay quejas en el sistema
     </div>
     <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>
                    <mat-icon>filter_alt</mat-icon>FILTROS
                </h4>
            </mat-panel-title>

        </mat-expansion-panel-header>
        &nbsp;
        <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [(ngModel)]="date" type="date" (change)="search()">

        </mat-form-field>
        <button mat-mini-fab matTooltip="Eliminar" color="grey" (click)="removeDate()" (click)="search()">
            <mat-icon>remove_circle</mat-icon>
        </button>
        &nbsp;
        <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [(ngModel)]="date1" type="date" (change)="search()">

        </mat-form-field>
        <button mat-mini-fab matTooltip="Eliminar" color="grey" (click)="removeDate1()" (click)="search()">
            <mat-icon>remove_circle</mat-icon>
        </button>
        &nbsp;
        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionada1" (selectionChange)="search()">
                <mat-option [value]="company1">Ninguno</mat-option>
                <mat-option *ngFor="let client of loadClients()" [value]="client">{{client.toLocaleUpperCase()}}</mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionada2" (selectionChange)="search()">
                <mat-option [value]="company1">Ninguno</mat-option>
                <mat-option *ngFor="let statu of status" [value]="statu">{{statu.toLocaleUpperCase()}}</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-expansion-panel>
    <br>
    <br>
    <div *ngIf="claims?.length == 0" class="alert alert-info" style="width: 40%;">
        No hay quejas que cumplan los criterios
    </div>
    <div class="table-responsive">
    <table class="table table-striped" *ngIf="claims?.length > 0" >
        <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Factura</th>
                <th scope="col">Estado</th> 
                <th scope="col" ></th>
                <th scope="col" ></th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of claims">
                <td>{{claim.id}}</td>
                <td>{{claim.createDate}}</td>
                <td>{{claim.facture.client.username}}</td>
                <td>{{claim.facture.id}}</td>
                <td>{{claim.status}}</td>
                <td>
                    <button mat-mini-fab matTooltip="Ver detalle" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/showClaim', claim.id]" *ngIf="claim.reporter === null" class="btn btn-sm"><mat-icon>info</mat-icon></button>
    
                </td>
                <td>
                    <button mat-mini-fab matTooltip="Asignar" style="background-color: transparent;color: black;" type="button" name="details" (click)="assign(claim)" *ngIf="claim.reporter === null" class="btn btn-sm"><mat-icon>loupe</mat-icon></button>
                </td>
                
                

            </tr>
        </tbody>
    </table>
</div>
    <app-paginator-claims-reporter-all *ngIf="paginador"  [paginador] ="paginador"></app-paginator-claims-reporter-all>
</div>
