<div class="container">
    <div class="alert alert-warning" role="alert" style="width: 60%;" *ngIf="client.wishList.length === 0">
        No hay ningún producto en su lista de deseados
      </div>
<div class="card mb-3" style="max-width: 540px;" *ngFor="let product of client.wishList">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="product.image" class="card-img" alt="image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.createDate}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>