.container{
    margin-top: 8%;
    margin-bottom: 15%;
    margin-left: 10%;
}

.card-title{
    cursor: pointer;
    color: black;
}

@media screen and (max-width:414px){
    .container{
      margin-top: 20%;
      
    }
  }
  
  @media screen and (max-width:360px){
    
      .container{
        margin-top: 20%;
      }
      
  }