.container-xl {
    margin-top: 8%;
    margin-bottom: 15%;
  }

  .container{
    margin-bottom: 5%;
}

  .card-header {
    font-family: "Muli", sans-serif;
    font-size: 25px;
    text-align: left;
    background-color: transparent !important;
  }

  @media screen and (max-width:414px){
    .container-xl{
        margin-top: 20%;
        margin-bottom: 15%;
    }
  }
  
  @media screen and (max-width:360px){
    
    .container-xl{
        margin-top: 20%;
        margin-bottom: 15%;
    }
  }