
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:700&display=swap');
.container{
    margin-top: 8%;
    margin-bottom: 10%;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
}

.title{
    font-family: 'Noto Serif SC', serif;
    font-size: 100px;
    text-align: center;
    color: black;
}