.container{
    margin-top: 8%;
    margin-bottom: 10%;
}

.offert{
    color: white;
    background-color: darkred;
    width: 53px;
}

.priceO{
    color: darkred;
    font-weight: 400;
}

button {
    font-weight: 500;
    font-size: 19px;
    color: white;
    background-color: #ff6800;
  }

.container1{
    background-color: rgb(243,243,243);
    width: 900px;
    height: 300px;
}

@media screen and (max-width:360px){
    .container{
    margin-top: 20%;
    }

    .imagen{
        margin-top: -40%;
    }

    .container1{
        width: 300px;
    }
    
}

@media screen and (max-width:414px){
    .container{
    margin-top: 20%;
    }

    .imagen{
        margin-top: -40%;
    }

    .container1{
        width: 400px;
        height: 350px;
    }

    .card-img{
        width: 200px;
        height: 300px;
    }

    .imagen1{
        margin-bottom: 20%;
    }

    .imagen2{
        margin-bottom: 20%;
    }  
}