.container-xl {
  margin-top: 8%;
}

.container {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  border-radius: 3px;
}

.container1 {
  margin-top: 10%;
  border-radius: 3px;
}

button {
  font-weight: 500;
  font-size: 19px;
  color: white;
  background-color: #ff6800;
}

input {
  width: 70px;
}

.container3 {
  margin-bottom: 15%;
  margin-left: 18%;
  margin-top: 7%;
}

a:hover{
  text-decoration: underline;
  cursor:pointer;
}

.alert1{
  width: 200%;
  color: red;
  font-size: small;
  font-family: 'Roboto', sans-serif;
  

}

@media screen and (max-width: 360px) {
  .container-xl {
    margin-top: 20%;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .container1 {
    width: 100%;
    margin-left: 2%;
  }
  
}

@media screen and (max-width: 414px) {
  .container-xl {
    margin-top: 20%;
    width: 504px;
  }

  .container {
    width: 600px;
  }

  .col-12 {
    width: 400px;
  }

  .container1 {
    width: 360px;
    margin-left: 2%;
  }
  table {
    width: 100%;
  }

  @media screen and (max-width: 850px) {
    .container-xl {
      width: 650px;
    }

    .container1 {
      width: 400px;
      margin-left: 2%;
    }
    table {
      width: 100%;
    }
  }
}
