<div class="animated fadeInDown container">
    <h2>Pedidos Showcase</h2>
    <div *ngIf="factures1?.length == 0" class="alert alert-info" style="width: 40%;">
         No hay pedidos en el sistema
     </div>
     <div class="row" style="margin-bottom: 2%;margin-top: 1%;">
        <select value="{{opcionSeleccionada1}}" [(ngModel)]="opcionSeleccionada1" class="form-control" style="width: 200px;" (change)="searchClient($event)">
        <option disabled selected value>---------</option>
        <option  *ngFor="let client of loadClients()" >
            {{client}}
        </option>
    </select> 
    <button class="btn btn-outline-info" style="margin-left: 3%" (click)='cleanFilter()'>Borrar filtros</button>
    </div>
    <br>
    <div *ngIf="factures?.length == 0" class="alert alert-info" style="width: 40%;">
        No hay facturas con ese filtro
    </div>
    <table class="table table-striped" *ngIf="factures?.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Cliente</th>
                <th scope="col">Nº productos</th> 
                <th scope="col">Importe</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let facture of factures">
                <td>{{facture.id}}</td>
                <td>{{facture.createDate}}</td>
                <td>{{facture.client.username}}</td>
                <td>{{count(facture)}}</td>
                <td>{{caculateTotal(facture).toFixed(2)}}€</td>
                <td>
                    <button mat-mini-fab matTooltip="Ver detalle" style="background-color: transparent;color: black;" type="button" name="details" [routerLink]="['/detailsFacture', facture.id]"  class="btn btn-sm"><mat-icon>info</mat-icon></button>
                </td>
                

            </tr>
        </tbody>
    </table>

    <app-paginator-factures-client-reporter *ngIf="paginador"  [paginador] ="paginador"></app-paginator-factures-client-reporter>
</div>
