.container{
    margin-top: 8%;
    margin-bottom: 15%;
}

button {
    color: white;
    background-color: #ff6800;
  }

  @media screen and (max-width:414px){
    .container{
      margin-top: 20%;
      
    }
  }
  
  @media screen and (max-width:360px){
    
      .container{
        margin-top: 20%;
      }
      
  }