<div class="container" *ngIf="product.status != 'ELIMINADO'">
  <h3>Comentarios</h3>
  <br />
  <div *ngIf="authService.hasRole('ROLE_CLIENT')">
    <div class="animated fadeInDown card bg-white text-dark">
      <div class="card-header"><h4>Añadir comentario</h4></div>
      <div class="card-body">
        <br />
        <form #commentForm="ngForm">
          <div class="form-group">
            <div class="row">
              <mat-form-field style="width: 50%;" appearance="legacy">
                <mat-label>Título</mat-label>
                <input matInput class="form-control" [(ngModel)]="comentario.title" name="title" required #title="ngModel" >
               
                  
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field style="width: 70%;" >
                <mat-label>Descripción</mat-label>
                <textarea matInput  class="form-control" [(ngModel)]="comentario.description" name="description" required #description="ngModel" ></textarea>
                
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12">
              <mat-form-field style="width: 30%;margin-left: -1%;"  appearance="legacy">
                <mat-label>Valoración</mat-label>
                <input matInput   class="form-control" [(ngModel)]="comentario.valoration" name="valoration" type="number" required min="0" max="5" #valoration="ngModel" >
                <div style="color: red;" *ngIf="comprobarMax(comentario)">
                  La máxima puntuación es de 5 estrellas
                </div>
             
                  
            </mat-form-field>

            <button mat-raised-button style="float: right;margin-top: 5%" color="primary" (click)="create()"
              
              
              [disabled]="comprobarMax(comentario) || !commentForm.form.valid ">Añadir</button>
            </div>
          </div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
 
  <br />
  <div class="row-cols-lg-1" *ngFor="let comment of comments">
    <div class="card">
      <div class="card-header">
        <h5>{{ comment.client.username.toLocaleUpperCase() }}</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h6>{{ comment.title }}</h6>
          <p>{{ comment.description }}</p>
          
        </blockquote>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <span class="fa fa-star checked" *ngFor="let element of arrayStarts(comment)"></span> <span class="fa fa-star" *ngFor="let element of arrayStartsEmpty(comment)"></span>
        
      </div>
      <div class="card-footer text-muted">{{ comment.createDate }} <button mat-mini-fab matTooltip="Eliminar" style="background-color: #F13107;float: right;" class="button1" (click)="delete(comment)" *ngIf="condition(comment)===true"><mat-icon>delete</mat-icon></button>

    </div>
    
  </div>
<br>
</div>

