<div class="animated fadeInDown card bg-white text-dark">
    <div class="card-header">Registro compañía</div>
    <div class="card-body">
        <br>
        <form #companyForm="ngForm">

            <div class="col-sm" style="margin-left: 80px;margin-bottom: 10px;" *ngIf="company.id != null">
                <img *ngIf="company?.image" src="{{urlBackend}}/company/uploads/img/{{company.image}}" alt="{{company.image}}" class="img-thumbnail rounded">
            </div>
            <div class="input-group row" style="margin-bottom: 20px;" *ngIf="company.id != null">
                <label for="name" class="col-form-label">Foto:</label>
                <div class="custom-file" style="width: 600px;">
                  <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04" style="width: 300px;margin-left: 13px;">Choose file</label>
                </div>
                <div class="input-group">
                  <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" style="margin-left: 430px;margin-top: -40px;height: 36px;">Subir</button>
                </div>

                <div *ngIf="progreso > 0" class="progress" style="margin-left: 120px;height: 25px;width: 600px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        {{progreso}}%
                    </div>
                  </div>
              </div>

            <div class="form-group row" *ngIf="!company.id">
                <label for="username" class="col-form-label">Usuario:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.username" name="username" required 
                    minlength="4" maxlength="20" #username="ngModel">
                    <div class="alert" *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.required">
                            Este campo es obligatorio
                        </div>
                        <div *ngIf="username.errors.minlength">
                            Debe ser mayor a 3 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-form-label">Nombre:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.name" name="name" required #name="ngModel">
                    <div class="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="surnames" class="col-form-label">Apellidos:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.surnames" name="surnames" required #surnames="ngModel">
                    <div class="alert" *ngIf="surnames.invalid && (surnames.dirty || surnames.touched)">
                        <div *ngIf="surnames.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row" >
                <label for="email" class="col-form-label">Email:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.email" name="email" required email #email="ngModel">
                    <div class="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Este campo es obligatorio
                        </div>
                        <div *ngIf="email.errors.email">
                            No tiene un formato correcto 
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row" *ngIf="!company.id">
                <label for="password" class="col-form-label">Contraseña:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" [(ngModel)]="company.password" name="password" required minlength="6" #password="ngModel">
                    <div class="alert" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            Este campo es obligatorio
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Demasiado corta
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="phone" class="col-form-label">Teléfono :</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="company.phone" name="phone" >
                    
                </div>
            </div>


            <div class="form-group row">
                <label for="businessName" class="col-form-label">Nombre compañía :</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.businessName" name="businessName" required #businessName="ngModel">
                    <div class="alert" *ngIf="businessName.invalid && (businessName.dirty || businessName.touched)">
                        <div *ngIf="businessName.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-form-label">Categoría :</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.category" name="category" required #category="ngModel">
                    <div class="alert" *ngIf="category.invalid && (category.dirty || category.touched)">
                        <div *ngIf="category.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="image" class="col-form-label">Imagen :</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="company.image" name="image">
                    
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!company.id else elseBlock" [disabled]="!companyForm.form.valid">Añadir compañía</button>

                    <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="update()"  [disabled]="!companyForm.form.valid">Editar compañía</button>
                    </ng-template>

                </div>
            </div>

        </form>
    </div>
</div>

