<div class="container" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_CLIENT')">
   
    <div class="md-form active-pink active-pink-2 mb-3 mt-0" >
    <input class="form-control" [(ngModel)]="businessName" type="text" placeholder="Buscar..." aria-label="Buscar" #myInput (input)="Search()">
     </div>
    <div class="row">
        <mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="loading===true"></mat-spinner>
        <div class="col-md-6" *ngFor="let company of companies">
            <div class="animated zoomIn card"  *ngIf="loading===false">
                
                <img *ngIf="!company?.image" alt="imgCompay" src="https://images.unsplash.com/photo-1551814360-3c38192c5688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img"> 
                <img *ngIf="company?.image" src="{{company.image}}" class="card-img" alt="imgCompay">
                <a class="card-title center" href="/products/page/0/{{company.username}}" >{{company.businessName}}</a>
                <h5>{{company.category}}</h5>
                
            </div>
        </div>
    </div>
    <br>
    <app-paginator *ngIf="paginador"  [paginador] ="paginador"></app-paginator>

</div>

<div class="container1" *ngIf="authService.hasRole('ROLE_COMPANY')">
    <div class="row">
    <div class="col">
    <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 5%;">
        
        <div class="card-body">
        <mat-icon style="width: 60%;"> list_alt</mat-icon>
        </div>
        <div class="card-text">  
        <a href="/myProducts/page/0" style="color: black;margin-top: -10%;" class="h4"> MIS PRODUCTOS</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 10%;">
        
        <div class="card-body">
        <mat-icon style="width: 70%;"> receipt</mat-icon>
      
        </div>
        <div class="card-text">  
        <a href="/Orders/page/0" style="color: black;" class="h4"> MIS FACTURAS</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 10%;">
        
        <div class="card-body">
        <mat-icon style="width: 70%;"> equalizer</mat-icon>
      
        </div>
        <div class="card-text">  
        <a href="/statistics3" style="color: black;" class="h4"> ESTADÍSTICAS</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 10%;">
        
        <div class="card-body">
        <mat-icon style="width: 70%;"> email</mat-icon>
      
        </div>
        <div class="card-text">  
        <a href="Conversations/page/0" style="color: black;" class="h4"> CONVERSACIONES</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 10%;">
        
        <div class="card-body">
        <mat-icon style="width: 70%;"> info</mat-icon>
      
        </div>
        <div class="card-text">  
        <a href="/about" style="color: black;margin-top: -10%;" class="h4"> ACERCA DE MI</a>
        </div>
         
        
      </div>
    </div>
    </div>
    <a class="nav-link" href="/createProduct"><mat-icon class="iconAdd" style="padding: 0;">add_circle</mat-icon></a>
</div>


<div class="container1" *ngIf="authService.hasRole('ROLE_REPORTER')">
    <div class="row">
    <div class="col">
    <div class="card1 text-center" style="background-color: white;border-radius: 5px;">
        
        <div class="card-body">
        <mat-icon style="width: 50%;"> report_problem</mat-icon>
        </div>
        <div class="card-text">  
        <a href="/myClaims/page/0" style="color: black;margin-top: -10%;" class="h4"> MIS RECLAMACIONES</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 7%;">
        
        <div class="card-body">
        <mat-icon style="width: 50%;"> report</mat-icon>
    
      
        </div>
        <div class="card-text">  
        <a href="/claims/page/0" style="color: black;" class="h4">RECLAMACIONES</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
      <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 7%;">
        
        <div class="card-body">
        <mat-icon style="width: 50%;"> people_outline</mat-icon>
      
        </div>
        <div class="card-text">  
        <a href="/factures/page/0" style="color: black;margin-top: -10%;" class="h4">PEDIDOS CLIENTES</a>
        </div>
         
        
      </div>
    </div>
    <div class="col">
        <div class="card1 text-center" style="background-color: white;border-radius: 5px;margin-left: 7%;">
          
          <div class="card-body">
          <mat-icon style="width: 50%;"> business</mat-icon>
        
          </div>
          <div class="card-text">  
          <a href="/facturesCompany/page/0" style="color: black;margin-top: -10%;" class="h4">FACTURAS COMPAÑÍAS</a>
          </div>
           
          
        </div>
      </div>
    </div>
   
</div>