<div class="md-form active-pink active-pink-2 mb-3 mt-0">
    <input class="form-control" [(ngModel)]="businessName" type="text" placeholder="Buscar..." aria-label="Buscar" #myInput (input)="Search()">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let company of companies">
            <div class="animated zoomIn card">
                
                <img *ngIf="!company?.image" src="https://images.unsplash.com/photo-1551814360-3c38192c5688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img"> 
                <img *ngIf="company?.image" src={{company.image}} class="card-img">
                <h1 class="card-title center"  [routerLink]="['/products', company.id]" >{{company.businessName}}</h1>
                <h5>{{company.category}}</h5>
                
            </div>
        </div>
    </div>
    <br>
</div>