<div class="animated fadeInDown card bg-white text-dark">
    <div class="card-header">Crear producto</div>
    <div class="card-body">
        <br>

        <form #productForm="ngForm">
            
            <div class="col-sm" style="margin-left: 80px;margin-bottom: 10px;" *ngIf="product.id != null">
                <img *ngIf="product?.photo" src="http://localhost:8080/company/product/uploads/img/{{product.photo}}" alt="{{product.photo}}" class="img-thumbnail rounded">
            </div>
            <div class="input-group row" style="margin-bottom: 20px;" *ngIf="product.id != null">
                <label for="name" class="col-form-label">Foto:</label>
                <div class="custom-file" style="width: 600px;">
                  <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04" style="width: 300px;margin-left: 13px;">Choose file</label>
                </div>
                <div class="input-group">
                  <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" style="margin-left: 430px;margin-top: -40px;height: 36px;">Subir</button>
                </div>

                <div *ngIf="progreso > 0" class="progress" style="margin-left: 120px;height: 25px;width: 600px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        {{progreso}}%
                    </div>
                  </div>
              </div>

            <div class="form-group row">
                <label for="name" class="col-form-label">Nombre:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.name" name="name" style="width: 300px;" required #name="ngModel">
                    <div class="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-form-label">Descripción:</label>
                <div class="col-sm-4">
                    <textarea type="text" class="form-control" [(ngModel)]="product.description" name="description" required #description="ngModel"></textarea>
                    <div class="alert" *ngIf="description.invalid && (description.dirty || description.touched)">
                        <div *ngIf="description.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row" >
                <label for="price" class="col-form-label">Precio:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required  min="0.00" #price="ngModel">
                    <div class="alert" *ngIf="price.invalid && (price.dirty || price.touched)">
                        <div *ngIf="price.errors.required">
                            Este campo es obligatorio
                        </div>
                        <div *ngIf="price.errors.min">
                            El precio debe ser mayor a 0€ 
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-form-label">Categoría:</label>
                <div class="col-sm-4">
                    <select [(ngModel)]="product.category" class="form-control" name="category" style="width: 200px;">
                        <option  *ngFor="let category of categories" [ngValue]="category">
                            {{category}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label for="size" class="col-form-label">Tallas:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.size" name="size" placeholder="S,M,L... ó  37,38,39..." >
                </div>
            </div>
            
            <div class="form-group row">
                <label for="capacity" class="col-form-label">Stock:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.stock" name="stock" required placeholder="1,2,3" #stock="ngModel">
                    <div class="alert" *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                        <div *ngIf="stock.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="height" class="col-form-label">Alto:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.height" name="height" >
                </div>
            </div>

            <div class="form-group row">
                <label for="width" class="col-form-label">Ancho:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.width" name="width">
                </div>
            </div>

            <div class="form-group row">
                <label for="weight" class="col-form-label">Peso:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.weight" name="weight">
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="inch" class="col-form-label">Pulgadas:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.inch" name="inch">
                </div>
            </div>

            
            <div class="form-group row">
                <label for="capacity" class="col-form-label">Capacidad:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.capacity" name="capacity">
                </div>
            </div>

            <div class="form-group row">
                <label for="memory" class="col-form-label">Memoria:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.memory" name="memory" placeholder="16GB,32GB...">
                </div>
            </div>

            <div class="form-group row">
                <label for="brand" class="col-form-label">Marca:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="product.brand" name="brand" required #brand="ngModel">
                    <div class="alert" *ngIf="brand.invalid && (brand.dirty || brand.touched)">
                        <div *ngIf="brand.errors.required">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="offert" class="col-form-label">Descuento:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" [(ngModel)]="product.offert" min="5" max="90" name="offert">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!product.id else elseBlock" [disabled]="!productForm.form.valid">Añadir producto</button>

                    <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="update()"  [disabled]="!productForm.form.valid">Editar producto</button>
                    </ng-template>

                </div>
            </div>

        </form>
    </div>
</div>
