
<footer class="page-footer bg-light">
<hr>
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-8 col-lg-6 my-md-4 my-0 mt-4 mb-1">
                <h4 class="mb-4">Showcase</h4>
                <p>Showcase es un centro comercial vitual en el que no hay límites y en el tu 
                    empresa puede formar parte.  
                </p>
                <p>La filosofía de showcase se centra en ayudar a las pequeñas y medias empresas poniendo a su
                    disposición un sitio donde vender sus productos. Marcamos la diferencia con otras web similiares al dar a conocer
                    tu empresa y no sólo tus productos. 
                </p>
                <p>
                    Ofrecemos a nuestros usuarios la experencia de descubrir nuevas tiendas y poder comprar sus productos.  
                </p>

            </div>
            
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h4 class="mb-4">Direcciones</h4>

                <ul class="list-unstyled">
                    <li>
                        
                        <p>
                            <i class="fas fa-home mr-3"><img style="text-align: left;" src="assets\img\iconfinder_Streamline-18_185038.png" height="25" width="25"></i> {{configuration.address}}</p>
                    </li>
                    <li>
                        <p>
                            <img style="text-align: left;" src="assets\img\iconfinder_mail_227579.png" height="25" width="25"><a href="mailTo:showcase@gmail.com" class="text-dark">{{configuration.email}}</a>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"><img style="text-align: left;" src="assets\img\iconfinder_phone1_172517.png" height="25" width="25"></i> + 34 {{configuration.phone}}</p>
                    </li>

                </ul>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2  mx-4 my-4">
                <h4 class="mb-4">Síguenos</h4>
                <a target="_blank" class="btn-floating btn-fb" href="{{configuration.facebook}}">
                    <img style="text-align: left;" src="assets\img\iconfinder_facebook_2_183101.png" height="25" width="25">
                </a>
                <br>
                <br>
                <a target="_blank" class="btn-floating btn-tw" href="{{configuration.instagram}}">
                    <img style="text-align: center;" src="assets\img\iconfinder_SocialMedia_Instagram-Outline_2959748 (1).png" height="25" width="25">
                </a>
                <br>
                <br>
                <a target="_blank" class="btn-floating btn-dribbble" href="{{configuration.twitter}}">
                    <img style="text-align: right;" src="assets\img\iconfinder_twitter_3325160.png" height="25" width="25">
                </a>

            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © {{anio}} SHOWCASE <span>All Right Reserved</span>
    </div>


</footer>